#logo{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 30px;
    padding: 0rem 2rem;
    font-weight: 10px;
    padding-left: 5rem;
    color: black;
}
main{
   background-color: black;
   color: white;
}
p{
  font-family: 'Abel', sans-serif;
  color: black;
}
#roo{
  background-color: black;
}
h1{
    font-family: 'Abel', sans-serif;  
}
h3{
    font-family: 'Abel', sans-serif;
}
h4{
  font-family: 'Abel', sans-serif;
  color: white;
}
h5{
  font-family: 'Abel', sans-serif;
  color: black;
}
.row{
  padding: 3rem 1rem;
}
footer{
  background-color: white;
  height: 40px;
  text-align: center;
  font-size: 25px;
}
#lid:hover{
  background-color: rgb(232, 230, 230);
  border-radius: 10pc;
  transition: 1s;
}
.obi{
  font-size: 14px;
  width: 477px;
  height: 422px;
  border-radius: 5px;
}
h2{
  font-family: 'Abel', sans-serif;
}
article{
  font-family: 'Abel', sans-serif;
}
.headm{
  text-align: center;
  padding-top: 3rem;
}
.col1{
  display: flex;
  justify-content: center;
}
.col2{
  display: flex;
  justify-content: center;
}
.col3{
  display: flex;
  justify-content: center;
}
.pro{
  color: white;
}
body{
  margin: 1%;
}
#project_row{
  padding: 3rem 1rem;
  background-color: black;
}
#project_row > .col >.card{
  background-color: white;
  border-radius: 6px;
}
.jos{
  color: white;
}
a{
  font-family: 'Abel', sans-serif;
}
input{
  padding:0.5rem 0rem;
  width: 300px;
  border-radius: 10px;
  border-width: 3px;
  border-color: rgb(97, 93, 93);
}
.col2{
  text-align: center;
  justify-content: center;
}
::placeholder{
  font-family: 'Abel', sans-serif;
}
textarea{
  border-radius: 10px;
  border-color: rgb(110, 109, 109);
  padding: 10px;
}